export LAMBDA_ARN="arn:aws:lambda:us-east-1:581425340084:function:soc-lite-backend"
export API_GATEWAY_ID="d7dl70boyi"
export API_GATEWAY_URL="https://d7dl70boyi.execute-api.us-east-1.amazonaws.com"
export API_ENDPOINT="https://d7dl70boyi.execute-api.us-east-1.amazonaws.com/prod"
